#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
}

#add-form {
    display: flex;
    flex-direction: column;
}