<div id="container">
  <button
    type="button"
    class="btn btn-primary"
    data-bs-toggle="modal"
    data-bs-target="#exampleModal"
    style="margin-bottom: 2rem"
  >
    Adicionar Post
  </button>
  <app-post-modal (newPostsEvent)="getNewPosts($event)"></app-post-modal>
  <div id="card-container">
    <div *ngFor="let post of posts" class="post-card">
      <app-post-card
        [post]="post"
        (newPostsEvent)="getNewPosts($event)"
      ></app-post-card>
    </div>
  </div>
</div>
