#add-form {
  display: flex;
  flex-direction: column;
}

input {
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
  border-style: solid;
}

input[type="text"]:focus {
  outline: none;
}

.invalid-field:focus {
  border-color: red;
}
