.card {
  border-color: black;
  margin-bottom: 2rem;
  width: 18rem;
}

input {
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
  border-style: solid;
}

input[type="text"]:focus {
  outline: none;
}

#edit-form {
  display: flex;
  flex-direction: column;
}

.invalid-field {
  border-color: red;
}
